
footer{
    .Footerx{
        display: flex;    
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .container-fluid{
        display: flex;    
        justify-content: space-between;
        flex-wrap: wrap;
    } 
    
    .logopie {
        display: flex; 
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .pie {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .logopie img{
        width: 40px;
    }
    
    .pie img{
        width: 40px;
    }
}
