
header {
    
    .logo img {
        width: 40px;
    }
    
    .offcanvas {
        text-align: right;
    }
    
    .offcanvas-header {
        background-color: rgb(10, 10, 10);
        text-align: right;
    }    
    
    .offcanvas-title {
        color: #ffffff;
    }   

    .button .navbar-toggler {
        margin: 0px;
        padding: 0px;
    }

    .offcanvas-body .navbar-nav .nav-item1 a {
        color:$amrillom;
    }
}

